.easyh5{
	position: absolute;
	/*width: 100%;
	height: 100%;*/
	left:0;
	right: 0;
	top:0;
	bottom: 0;
	overflow: hidden;
}
.easyh5-page{
	position: absolute;
	width: 100%;
	height: 100%;
}
.easyh5-anim{
	-webkit-transition:transform 2s;
	transition:transform 2s;
}
.easyh5-current{
	z-index: 2;
}
.easyh5-active{
	z-index: 3;
}
.easyh5-move{
	-webkit-transform:translate3d(0,0,0);
}
.easyh5-pre{
	-webkit-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0);
}
.easyh5-next{
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0);
}

