*{
	padding:0;
	margin:0;
}
.s1{
	background-color: lime;
}
.s2{
	background-color: blue;
}
.s3{
	background-color: yellow;
}
.s4{
	background-color: red;
}
.a{
	position: absolute;
	top:60px;
	left:100px; 
}
.b{
	position: absolute;
	top:180px;
	left:50px; 
}
.c{
	position: absolute;
	top:340px;
	left:50px; 
}
